$regular: 400;
$bold: 700;

$color: #72A5B8;

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: $regular;
}

#header {
    background-color: $color;
    height: 40px;
    width: 100%;

    .container {
        height: 100%;

        .link-bo {
            float: right;
            height: 100%;

            .btn-bo {
                height: 100%;
                font-size: 14px;
                text-transform: uppercase;
                color: #72A5B8;
                border: 0;
                background-color: #fff;
                padding: 0 20px;
                transition: all 0.3s;

                &:hover {
                    font-size: 15px;
                }
            }
        }
    }
}

#home {
    background-image: url("../lib/images/hero.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 800px;

    .navbar {
        
        .navbar-brand {

            img {
                width: 100%;
            }
        }

        .navbar-toggler {
            padding: 15px;
            background-color: #72A5B8;
            color: #fff;
        }

        .back-to-top {
            position: fixed;
            bottom: 10%;
            right: 10%;
            text-align: center;
            opacity: 0.5;
            transition: all 0.2s;

            button {
                background-color: $color;
                height: 40px;
                width: 40px;
                border: 0;
                border-radius: 50%;
                color: #ffffff;
                font-size: 28px;
            }

            span {
                display: block;
                color: $color;
            }

            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }

        .navbar-collapse {
            text-align: right;

            .navbar-nav {

                .nav-item {
                    margin: 0 10px;

                    .nav-link {
                        text-transform: uppercase;
                        font-weight: $regular;
                        color: #72A5B8;
                        transition: all 0.3s;
                        padding: 0;
                        display: inline-block;
                       

                        &::after {
                            content: "";
                            height: 2px;
                            width: 100%;
                            display: block;
                            background-color: #72a5b8;
                            margin-top: 5px;
                            transition: all 0.5s;
                            transform-origin: center;
                            transform: scaleX(0);
                        }

                        &:hover {

                            &::after {
                                transform: scaleX(1);
                            }
                        }

                        &.active {
                            font-weight: $bold;

                            &::after {
                                content: "";
                                height: 2px;
                                width: 100%;
                                display: block;
                                background-color: #72a5b8;
                                margin-top: 5px;
                                transition: all 0.5s;
                                transform-origin: center;
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }
    }
}

